@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .center-pad {
        @apply lg:px-64 px-4;
    }

    .center-margin {
        @apply lg:mx-64 mx-4;
    }
}

@layer components {
    .btn {
        @apply bg-zinc-700 text-zinc-300 hover:text-white py-2 px-4 rounded border border-white/10 hover:border-white/20 h-12 flex flex-row gap-1 justify-center items-center;
    }

    .btn-active {
        @apply bg-zinc-600 font-bold text-white border-2;
    }

    .btn-primary {
        @apply bg-green-800 text-green-300;
    }

    .btn[disabled] {
        @apply bg-opacity-10 text-opacity-25;
    }

    .ans-btn {
        @apply bg-zinc-700 text-zinc-300 py-2 px-4 rounded border border-white/10 h-12;
    }

    .ans-btn[disabled] {
        @apply text-opacity-75;
    }

    .ltr-btn {
        @apply bg-zinc-700 text-zinc-300 py-2 px-4 rounded border border-white/10 h-12;
    }

    .ltr-btn-clicked {
        @apply bg-zinc-400 text-zinc-900 border-white/30 transition;
    }

    .ltr-btn[disabled] {
        @apply bg-opacity-50 text-opacity-75;
    }

    .editor-btn {
        @apply h-6 p-1 bg-zinc-600 hover:bg-zinc-500 text-zinc-300 flex justify-center items-center;
    }

    .eb-active {
        @apply border;
    }

    .slct {
        @apply p-2 bg-zinc-900 rounded;
    }

    .ipt {
        @apply p-2 rounded bg-zinc-900 w-full;
    }
}

* {
    scrollbar-width: thin;
    /* scrollbar-gutter: stable both-edges; */
    /* Change scrollbar thumb color to black and background color to zinc-800 */
    scrollbar-color: rgb(82 82 91) rgb(63 63 70);
}

/* Hide x-overflow, no scrolling */
body {
    overflow-x: hidden;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

a {
    text-decoration: none;
    font-weight: 700;
}
a:hover {
    border-bottom: 1px solid;
}
