@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .center-pad {
        @apply lg:px-64 px-4;
    }

    .center-margin {
        @apply lg:mx-64 mx-4;
    }
}

@layer components {
    .btn {
        @apply bg-zinc-700 text-zinc-300 py-2 px-4 rounded border border-white/10 h-12 flex flex-row gap-1 justify-center items-center;
    }

    .btn[disabled] {
        @apply bg-opacity-0 text-opacity-25;
    }

    .ans-btn {
        @apply bg-zinc-700 text-zinc-300 py-2 px-4 rounded border border-white/10 h-12 flex flex-row gap-1 justify-center items-center;
    }

    .ans-btn[disabled] {
        @apply text-opacity-75;
    }

    .btn-active {
        @apply bg-zinc-600 font-bold text-white border-2;
    }

    .editor-btn {
        @apply h-6 p-1 bg-zinc-600 hover:bg-zinc-500 text-zinc-300 flex justify-center items-center;
    }

    .eb-active {
        @apply border;
    }

    .slct {
        @apply p-2 bg-zinc-900 rounded;
    }

    .ipt {
        @apply p-2 rounded bg-zinc-900 w-full;
    }
}

* {
    scrollbar-width: thin;
    /* scrollbar-gutter: stable both-edges; */
    /* Change scrollbar thumb color to black and background color to zinc-800 */
    scrollbar-color: rgb(82 82 91) rgb(63 63 70);
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}
